In [62]:
import pandas as pd
from sklearn import preprocessing

In [63]:
data_dir = '/Users/ksivanathan/Desktop/USF/DataViz/FinalProject_Comics/Datasets/'

### Marvel Dataset

In [247]:
marvel = pd.read_csv(data_dir + 'marvel_data_OG.csv')

In [248]:
marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [249]:
marvel.shape

(16376, 13)

In [250]:
marvel.nunique(axis=0) # Shows the unique values for each column

page_id             16376
name                16376
urlslug             16376
ID                      4
ALIGN                   3
EYE                    24
HAIR                   25
SEX                     4
GSM                     6
ALIVE                   2
APPEARANCES           358
FIRST APPEARANCE      832
Year                   75
dtype: int64

In [251]:
marvel = marvel[marvel.APPEARANCES > 300]

In [252]:
marvel['GSM'].unique()

array([nan, 'Bisexual Characters', 'Transvestites',
       'Homosexual Characters'], dtype=object)

In [253]:
marvel['ALIGN'].unique()

array(['Good Characters', 'Neutral Characters', 'Bad Characters', nan],
      dtype=object)

In [254]:
marvel['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity'], dtype=object)

In [255]:
marvel['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters'], dtype=object)

In [256]:
marvel['SEX'].unique()

array(['Male Characters', 'Female Characters', 'Genderfluid Characters',
       'Agender Characters'], dtype=object)

### Cleaning the Data

In [257]:
marvel.isna().sum()

page_id               0
name                  0
urlslug               0
ID                    0
ALIGN                 2
EYE                   1
HAIR                  0
SEX                   0
GSM                 122
ALIVE                 0
APPEARANCES           0
FIRST APPEARANCE      4
Year                  4
dtype: int64

In [258]:
#Percentage Missing
(marvel.isna().sum() / len(marvel))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                   0.000000
ALIGN                1.538462
EYE                  0.769231
HAIR                 0.000000
SEX                  0.000000
GSM                 93.846154
ALIVE                0.000000
APPEARANCES          0.000000
FIRST APPEARANCE     3.076923
Year                 3.076923
dtype: float64

In [259]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, Year, urlslug,APPEARANCES
marvel_clean = marvel.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','Year','urlslug'], axis = 1)

In [260]:
#Create column 'Universe' == Marvel 
marvel_clean['Universe'] = 'Marvel'

In [261]:
#Filling the missing values for ALIGN, ID, ALIVE, SEX

In [262]:
marvel_clean['ALIGN'] = marvel_clean['ALIGN'].fillna('Neutral Characters')

In [263]:
marvel_clean['ID'] = marvel_clean['ID'].fillna('Secret Identity')

In [264]:
marvel_clean['ALIVE'] = marvel_clean['ALIVE'].fillna('Unknown')

In [265]:
marvel_clean['SEX'] = marvel_clean['SEX'].fillna('Unknown')

In [266]:
marvel_clean

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
0,1678,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
1,7139,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
2,64786,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters,Living Characters,Marvel
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,Living Characters,Marvel
4,2460,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
...,...,...,...,...,...,...,...
125,2238,Jean-Paul Beaubier (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
126,1706,Daniel Ketch (Earth-616),Secret Identity,Neutral Characters,Male Characters,Living Characters,Marvel
127,1460,Neena Thurman (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
128,2010,Wong (Earth-616),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
129,2456,Thanos (Earth-616),No Dual Identity,Bad Characters,Male Characters,Living Characters,Marvel

### DC Dataset

In [173]:
dc = pd.read_csv(data_dir + 'DC_data_OG.csv')

In [174]:
dc

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [175]:
dc.shape

(6896, 13)

In [176]:
dc.nunique(axis=0) # Shows the unique values for each column

page_id             6896
name                6896
urlslug             6896
ID                     3
ALIGN                  4
EYE                   17
HAIR                  17
SEX                    4
GSM                    2
ALIVE                  2
APPEARANCES          282
FIRST APPEARANCE     774
YEAR                  79
dtype: int64

In [177]:
dc = dc[dc.APPEARANCES > 300]

In [178]:
dc['GSM'].unique()

array([nan, 'Bisexual Characters', 'Homosexual Characters'], dtype=object)

In [179]:
dc['ALIGN'].unique()

array(['Good Characters', 'Bad Characters', 'Neutral Characters', nan],
      dtype=object)

In [180]:
dc['SEX'].unique()

array(['Male Characters', 'Female Characters'], dtype=object)

In [181]:
dc['ID'].unique()

array(['Secret Identity', 'Public Identity'], dtype=object)

In [182]:
dc['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters'], dtype=object)

### Cleaning the Data

In [183]:
dc.isna().sum()

page_id              0
name                 0
urlslug              0
ID                   0
ALIGN                9
EYE                  0
HAIR                13
SEX                  0
GSM                 67
ALIVE                0
APPEARANCES          0
FIRST APPEARANCE     0
YEAR                 0
dtype: int64

In [184]:
(dc.isna().sum() / len(dc))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                   0.000000
ALIGN               13.043478
EYE                  0.000000
HAIR                18.840580
SEX                  0.000000
GSM                 97.101449
ALIVE                0.000000
APPEARANCES          0.000000
FIRST APPEARANCE     0.000000
YEAR                 0.000000
dtype: float64

In [185]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, YEAR, urlslug,APPEARANCES
dc_clean = dc.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','YEAR','urlslug','page_id'], axis = 1)

In [186]:
dc_clean

,name,ID,ALIGN,SEX,ALIVE
0,Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters
1,Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters
2,Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters
3,James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
4,Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters
...,...,...,...,...,...
64,Swamp Thing (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
65,Renee Montoya (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters
66,Harvey Dent (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters
67,Courtney Whitmore (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters
68,Kendra Saunders (New Earth),Secret Identity,Good Characters,Female Characters,Deceased Characters

In [187]:
#Create column 'Universe' == DC 
dc_clean['Universe'] = 'DC'

In [188]:
#Filling the missing values for ID, ALIGN, SEX, ALIVE

In [189]:
dc_clean['ALIGN'] = dc_clean['ALIGN'].fillna('Neutral Characters')

In [190]:
dc_clean['ID'] = dc_clean['ID'].fillna('Identity Unknown')

In [191]:
dc_clean['ALIVE'] = dc_clean['ALIVE'].fillna('Unknown')

In [192]:
dc_clean['SEX'] = dc_clean['SEX'].fillna('Unknown')

----

In [193]:
#Filtering for json files

### Good Characters

In [194]:
#Characters that from the DC universe who are good, male, alive with a public identity

In [195]:
dc_good_male_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [196]:
dc_good_male_alive_pi = dc_good_male_alive_pi.drop(['ID','ALIGN','ALIVE','SEX','Universe'], axis = 1)

In [197]:
dc_good_male_alive_pi

                              name
3         James Gordon (New Earth)
6           Aquaman (Arthur Curry)
13       Jason Garrick (New Earth)
15   Alfred Pennyworth (New Earth)
18      Raymond Palmer (New Earth)
23      Garfield Logan (New Earth)
24         Guy Gardner (New Earth)
25        Victor Stone (New Earth)
28         James Olsen (New Earth)
29        John Stewart (New Earth)
31       Franklin Rock (New Earth)
37  Michael Jon Carter (New Earth)
40      Harvey Bullock (New Earth)
48    John Constantine (New Earth)
54    John Henry Irons (New Earth)
64         Swamp Thing (New Earth)

In [198]:
#Characters that from the DC universe who are good, male, alive with a secret identity

In [199]:
dc_good_male_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [202]:
dc_good_male_alive_si = dc_good_male_alive_si.drop(['ID','ALIGN','ALIVE','SEX','Universe'], axis = 1)

In [203]:
dc_good_male_alive_si

                            name
0           Batman (Bruce Wayne)
1          Superman (Clark Kent)
2     Green Lantern (Hal Jordan)
4    Richard Grayson (New Earth)
7      Timothy Drake (New Earth)
9            Flash (Barry Allen)
16       Carter Hall (New Earth)
17       Kyle Rayner (New Earth)
26            Kon-El (New Earth)
45    Nathaniel Adam (New Earth)
46    Ronald Raymond (New Earth)
47       Red Tornado (New Earth)
55  Jefferson Pierce (New Earth)
59    William Batson (New Earth)

In [204]:
#Characters that from the DC universe who are good, male, dead with a public identity

In [209]:
dc_good_male_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [210]:
dc_good_male_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [211]:
dc_good_male_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [212]:
dc_good_male_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

----

In [213]:
#Characters that from the DC universe who are good, female, alive with a public identity

In [214]:
dc_good_female_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [215]:
dc_good_female_alive_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
5,Wonder Woman (Diana Prince),Public Identity,Good Characters,Female Characters,Living Characters,DC
8,Dinah Laurel Lance (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
14,Lois Lane (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
34,Zatanna Zatara (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
38,Cassandra Sandsmark (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC

In [216]:
#Characters that from the DC universe who are good, female, alive with a secret identity

In [217]:
dc_good_female_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [218]:
dc_good_female_alive_si

,name,ID,ALIGN,SEX,ALIVE,Universe
10,GenderTest,Secret Identity,Good Characters,Female Characters,Living Characters,DC
12,Barbara Gordon (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
21,Kara Zor-L (Earth-Two),Secret Identity,Good Characters,Female Characters,Living Characters,DC
41,Rachel Roth (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
42,Helena Bertinelli (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
58,Beatriz da Costa (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
63,Jennifer-Lynn Hayden (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
65,Renee Montoya (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
67,Courtney Whitmore (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC

In [219]:
#Characters that from the DC universe who are good, female, dead with a public identity

In [220]:
dc_good_female_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [221]:
dc_good_female_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [222]:
#Characters that from the DC universe who are good, female, dead with a secret identity

In [223]:
dc_good_female_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [224]:
dc_good_female_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

----

### Bad Characters

In [225]:
#Characters that from the DC universe who are bad, male, alive with a public identity

In [226]:
dc_bad_male_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [227]:
dc_bad_male_alive_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
19,Alexander Luthor (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters,DC
66,Harvey Dent (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters,DC

In [ ]:
#Characters that from the DC universe who are bad, male, alive with a secret identity

In [228]:
dc_bad_male_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [229]:
dc_bad_male_alive_si

,name,ID,ALIGN,SEX,ALIVE,Universe
30,Joker (New Earth),Secret Identity,Bad Characters,Male Characters,Living Characters,DC

In [230]:
#Characters that from the DC universe who are bad, male, dead with a public identity

In [231]:
dc_bad_male_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [232]:
dc_bad_male_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [233]:
dc_bad_male_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [234]:
dc_bad_male_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

----

In [235]:
#Characters that from the DC universe who are bad, female, alive with a public identity

In [236]:
dc_bad_female_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [237]:
dc_bad_female_alive_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [238]:
#Characters that from the DC universe who are bad, female, alive with a secret identity

In [239]:
dc_bad_female_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [240]:
dc_bad_female_alive_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [241]:
#Characters that from the DC universe who are bad, female, dead with a public identity

In [242]:
dc_bad_female_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [243]:
dc_bad_female_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [244]:
#Characters that from the DC universe who are bad, female, dead with a public identity

In [245]:
dc_bad_female_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Dead Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [246]:
dc_bad_female_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []