In [62]:
import pandas as pd
from sklearn import preprocessing

In [63]:
data_dir = '/Users/ksivanathan/Desktop/USF/DataViz/FinalProject_Comics/Datasets/'

### Marvel Dataset

In [247]:
marvel = pd.read_csv(data_dir + 'marvel_data_OG.csv')

In [248]:
marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN

In [249]:
marvel.shape

(16376, 13)

In [250]:
marvel.nunique(axis=0) # Shows the unique values for each column

page_id             16376
name                16376
urlslug             16376
ID                      4
ALIGN                   3
EYE                    24
HAIR                   25
SEX                     4
GSM                     6
ALIVE                   2
APPEARANCES           358
FIRST APPEARANCE      832
Year                   75
dtype: int64

In [251]:
marvel = marvel[marvel.APPEARANCES > 300] #getting all rows with more than 300 appearances

In [252]:
marvel['GSM'].unique()

array([nan, 'Bisexual Characters', 'Transvestites',
       'Homosexual Characters'], dtype=object)

In [253]:
marvel['ALIGN'].unique()

array(['Good Characters', 'Neutral Characters', 'Bad Characters', nan],
      dtype=object)

In [254]:
marvel['ID'].unique()

array(['Secret Identity', 'Public Identity', 'No Dual Identity',
       'Known to Authorities Identity'], dtype=object)

In [255]:
marvel['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters'], dtype=object)

In [256]:
marvel['SEX'].unique()

array(['Male Characters', 'Female Characters', 'Genderfluid Characters',
       'Agender Characters'], dtype=object)

### Cleaning the Data

In [257]:
marvel.isna().sum()

page_id               0
name                  0
urlslug               0
ID                    0
ALIGN                 2
EYE                   1
HAIR                  0
SEX                   0
GSM                 122
ALIVE                 0
APPEARANCES           0
FIRST APPEARANCE      4
Year                  4
dtype: int64

In [258]:
#Percentage Missing
(marvel.isna().sum() / len(marvel))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                   0.000000
ALIGN                1.538462
EYE                  0.769231
HAIR                 0.000000
SEX                  0.000000
GSM                 93.846154
ALIVE                0.000000
APPEARANCES          0.000000
FIRST APPEARANCE     3.076923
Year                 3.076923
dtype: float64

In [259]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, Year, urlslug,APPEARANCES
marvel_clean = marvel.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','Year','urlslug'], axis = 1)

In [260]:
#Create column 'Universe' == Marvel 
marvel_clean['Universe'] = 'Marvel'

In [261]:
#Filling the missing values for ALIGN, ID, ALIVE, SEX

In [262]:
marvel_clean['ALIGN'] = marvel_clean['ALIGN'].fillna('Neutral Characters')

In [263]:
marvel_clean['ID'] = marvel_clean['ID'].fillna('Secret Identity')

In [264]:
marvel_clean['ALIVE'] = marvel_clean['ALIVE'].fillna('Unknown')

In [265]:
marvel_clean['SEX'] = marvel_clean['SEX'].fillna('Unknown')

In [279]:
marvel_clean

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
0,1678,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
1,7139,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
2,64786,"Wolverine (James \""Logan\"" Howlett)",Public Identity,Neutral Characters,Male Characters,Living Characters,Marvel
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,Living Characters,Marvel
4,2460,Thor (Thor Odinson),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
...,...,...,...,...,...,...,...
125,2238,Jean-Paul Beaubier (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
126,1706,Daniel Ketch (Earth-616),Secret Identity,Neutral Characters,Male Characters,Living Characters,Marvel
127,1460,Neena Thurman (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
128,2010,Wong (Earth-616),No Dual Identity,Good Characters,Male Characters,Living Characters,Marvel
129,2456,Thanos (Earth-616),No Dual Identity,Bad Characters,Male Characters,Living Characters,Marvel

----

In [ ]:
#Filtering for json files

### Good Characters

In [ ]:
#Marvel characters that are good, male, alive with a public identity

In [269]:
marvel_good_male_alive_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [270]:
marvel_good_male_alive_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
1,7139,Captain America (Steven Rogers),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",Public Identity,Good Characters,Male Characters,Living Characters,Marvel
5,2458,Benjamin Grimm (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
6,2166,Reed Richards (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
7,1833,Hulk (Robert Bruce Banner),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
9,1837,Jonathan Storm (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
10,15725,Henry McCoy (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
14,1803,Clinton Barton (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
15,1396,Matthew Murdock (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
16,55534,Stephen Strange (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
20,1557,Henry Pym (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
22,1073,Warren Worthington III (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
41,1592,Pietro Maximoff (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
46,2556,Norrin Radd (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
49,2009,Simon Williams (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
58,1802,Alexander Summers (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
60,1836,Human Torch (Android) (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
63,1285,Brian Braddock (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
68,1613,Samuel Wilson (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
85,2420,Volstagg (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel
100,1827,Hogun (Earth-616),Public Identity,Good Characters,Male Characters,Living Characters,Marvel

In [271]:
#Marvel characters that are good, male, alive with a secret identity

In [272]:
marvel_good_male_alive_si = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [273]:
marvel_good_male_alive_si

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
0,1678,Spider-Man (Peter Parker),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
19,35350,Robert Drake (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
23,1346,Piotr Rasputin (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
29,2223,Kurt Wagner (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
30,2414,Vision (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
48,8651,Eugene Thompson (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
50,1276,Samuel Guthrie (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
51,15823,James Buchanan Barnes (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
52,1680,Remy LeBeau (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
53,1866,Daniel Rand (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
56,1896,Richard Jones (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
65,6194,James Rhodes (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
72,1187,Dane Whitman (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
76,2626,Roberto da Costa (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
81,1705,Johnathon Blaze (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
89,2183,Marc Spector (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
97,2487,Thomas Raymond (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
107,1586,John Walker (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
119,1973,James Proudstar (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel
125,2238,Jean-Paul Beaubier (Earth-616),Secret Identity,Good Characters,Male Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are good, male, dead with a public identity

In [280]:
marvel_good_male_dead_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [281]:
marvel_good_male_dead_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
21,65255,Charles Xavier (Earth-616),Public Identity,Good Characters,Male Characters,Deceased Characters,Marvel
66,1487,Timothy Dugan (Earth-616),Public Identity,Good Characters,Male Characters,Deceased Characters,Marvel
98,1572,Uatu (Earth-616),Public Identity,Good Characters,Male Characters,Deceased Characters,Marvel
99,2239,Richard Rider (Earth-616),Public Identity,Good Characters,Male Characters,Deceased Characters,Marvel

In [ ]:
#Marvel characters that are good, male, dead with a secret identity

In [282]:
marvel_good_male_dead_si = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [283]:
marvel_good_male_dead_si

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
86,1127,Balder Odinson (Earth-616),Secret Identity,Good Characters,Male Characters,Deceased Characters,Marvel
95,1616,Fandral (Earth-616),Secret Identity,Good Characters,Male Characters,Deceased Characters,Marvel

In [ ]:
#Marvel characters that are good, female, alive with a public identity

In [300]:
marvel_good_female_alive_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [301]:
marvel_good_female_alive_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
11,1863,Susan Storm (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
13,2614,Ororo Munroe (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
24,2512,Wanda Maximoff (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
26,1976,Janet van Dyne (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
28,6545,Natalia Romanova (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
33,1970,Carol Danvers (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
34,37690,Jennifer Walters (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
67,1380,Crystalia Amaquelin (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
78,1130,Elizabeth Ross (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
91,2137,Medusalith Amaquelin (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
105,1404,Alison Blaire (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
108,2440,Greer Grant (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel
111,1300,Sharon Carter (Earth-616),Public Identity,Good Characters,Female Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are good, female, alive with a secret identity

In [302]:
marvel_good_female_alive_si = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [303]:
marvel_good_female_alive_si

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
32,2527,Katherine Pryde (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
38,1677,Rogue (Anna Marie) (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
59,1811,Patricia Walker (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
75,2589,Jessica Drew (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
77,2007,Rahne Sinclair (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
79,2278,Lorna Dane (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
84,1900,Jubilation Lee (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
88,1395,Danielle Moonstar (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
102,2173,Barbara Morse (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
104,2392,Brunnhilde (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
114,37751,Monica Rambeau (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
117,2182,Heather Douglas (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
124,7630,Tabitha Smith (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel
127,1460,Neena Thurman (Earth-616),Secret Identity,Good Characters,Female Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are good, female, dead with a public identity

In [304]:
marvel_good_female_dead_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [305]:
marvel_good_female_dead_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
27,65219,Jean Grey (Earth-616),Public Identity,Good Characters,Female Characters,Deceased Characters,Marvel

In [ ]:
#Marvel characters that are good, female, dead with a secret identity

In [306]:
marvel_good_female_dead_si = marvel_clean[(marvel_clean['ALIGN'] == 'Good Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [307]:
marvel_good_female_dead_si

Empty DataFrame
Columns: [page_id, name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

### Bad Characters

In [ ]:
#Marvel characters that are bad, male, alive with a public identity

In [308]:
marvel_bad_male_alive_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [309]:
marvel_bad_male_alive_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
43,1448,Victor von Doom (Earth-616),Public Identity,Bad Characters,Male Characters,Living Characters,Marvel
47,1740,Norman Osborn (Earth-616),Public Identity,Bad Characters,Male Characters,Living Characters,Marvel
69,1931,Wilson Fisk (Earth-616),Public Identity,Bad Characters,Male Characters,Living Characters,Marvel

In [310]:
#Marvel characters that are bad, male, alive with a secret identity

In [311]:
marvel_bad_male_alive_si = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [312]:
marvel_bad_male_alive_si

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
92,2374,Sabretooth (Victor Creed),Secret Identity,Bad Characters,Male Characters,Living Characters,Marvel
122,2513,MacDonald Gargan (Earth-616),Secret Identity,Bad Characters,Male Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are bad, male, dead with a public identity

In [327]:
marvel_bad_male_dead_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [328]:
marvel_bad_male_dead_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
94,2344,Johann Shmidt (Earth-616),Public Identity,Bad Characters,Male Characters,Deceased Characters,Marvel

In [ ]:
#Marvel characters that are bad, male, dead with a secret identity

In [325]:
marvel_bad_male_dead_si = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Male Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [326]:
marvel_bad_male_dead_si

Empty DataFrame
Columns: [page_id, name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [ ]:
#Marvel characters that are bad, female, alive with a public identity

In [317]:
marvel_bad_female_alive_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [318]:
marvel_bad_female_alive_pi

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
112,1180,Felicia Hardy (Earth-616),Public Identity,Bad Characters,Female Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are bad, female, alive with a secret identity

In [319]:
marvel_bad_female_alive_si = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Living Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [320]:
marvel_bad_female_alive_si

,page_id,name,ID,ALIGN,SEX,ALIVE,Universe
101,55878,Raven Darkholme (Earth-616),Secret Identity,Bad Characters,Female Characters,Living Characters,Marvel

In [ ]:
#Marvel characters that are bad, female, dead with a public identity

In [321]:
marvel_bad_female_dead_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Public Identity')
                                ]

In [322]:
marvel_bad_female_dead_pi

Empty DataFrame
Columns: [page_id, name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [ ]:
#Marvel characters that are bad, female, dead with a secret identity

In [323]:
marvel_bad_female_dead_pi = marvel_clean[(marvel_clean['ALIGN'] == 'Bad Characters') & (marvel_clean['SEX'] == 'Female Characters')
                                & (marvel_clean['ALIVE'] == 'Deceased Characters') & (marvel_clean['ID'] == 'Secret Identity')
                                ]

In [324]:
marvel_bad_female_dead_pi

Empty DataFrame
Columns: [page_id, name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

----

### DC Dataset

In [173]:
dc = pd.read_csv(data_dir + 'DC_data_OG.csv')

In [174]:
dc

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [175]:
dc.shape

(6896, 13)

In [176]:
dc.nunique(axis=0) # Shows the unique values for each column

page_id             6896
name                6896
urlslug             6896
ID                     3
ALIGN                  4
EYE                   17
HAIR                  17
SEX                    4
GSM                    2
ALIVE                  2
APPEARANCES          282
FIRST APPEARANCE     774
YEAR                  79
dtype: int64

In [177]:
dc = dc[dc.APPEARANCES > 300] #Get all rows with more than 300 apperances

In [178]:
dc['GSM'].unique()

array([nan, 'Bisexual Characters', 'Homosexual Characters'], dtype=object)

In [179]:
dc['ALIGN'].unique()

array(['Good Characters', 'Bad Characters', 'Neutral Characters', nan],
      dtype=object)

In [180]:
dc['SEX'].unique()

array(['Male Characters', 'Female Characters'], dtype=object)

In [181]:
dc['ID'].unique()

array(['Secret Identity', 'Public Identity'], dtype=object)

In [182]:
dc['ALIVE'].unique()

array(['Living Characters', 'Deceased Characters'], dtype=object)

### Cleaning the Data

In [183]:
dc.isna().sum()

page_id              0
name                 0
urlslug              0
ID                   0
ALIGN                9
EYE                  0
HAIR                13
SEX                  0
GSM                 67
ALIVE                0
APPEARANCES          0
FIRST APPEARANCE     0
YEAR                 0
dtype: int64

In [184]:
(dc.isna().sum() / len(dc))*100

page_id              0.000000
name                 0.000000
urlslug              0.000000
ID                   0.000000
ALIGN               13.043478
EYE                  0.000000
HAIR                18.840580
SEX                  0.000000
GSM                 97.101449
ALIVE                0.000000
APPEARANCES          0.000000
FIRST APPEARANCE     0.000000
YEAR                 0.000000
dtype: float64

In [185]:
#Remove GSM, HAIR, EYE, FIRST APPEARANCE, YEAR, urlslug,APPEARANCES
dc_clean = dc.drop(['GSM','HAIR','FIRST APPEARANCE','APPEARANCES','EYE','YEAR','urlslug','page_id'], axis = 1)

In [186]:
dc_clean

,name,ID,ALIGN,SEX,ALIVE
0,Batman (Bruce Wayne),Secret Identity,Good Characters,Male Characters,Living Characters
1,Superman (Clark Kent),Secret Identity,Good Characters,Male Characters,Living Characters
2,Green Lantern (Hal Jordan),Secret Identity,Good Characters,Male Characters,Living Characters
3,James Gordon (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
4,Richard Grayson (New Earth),Secret Identity,Good Characters,Male Characters,Living Characters
...,...,...,...,...,...
64,Swamp Thing (New Earth),Public Identity,Good Characters,Male Characters,Living Characters
65,Renee Montoya (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters
66,Harvey Dent (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters
67,Courtney Whitmore (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters
68,Kendra Saunders (New Earth),Secret Identity,Good Characters,Female Characters,Deceased Characters

In [187]:
#Create column 'Universe' == DC 
dc_clean['Universe'] = 'DC'

In [188]:
#Filling the missing values for ID, ALIGN, SEX, ALIVE

In [189]:
dc_clean['ALIGN'] = dc_clean['ALIGN'].fillna('Neutral Characters')

In [190]:
dc_clean['ID'] = dc_clean['ID'].fillna('Identity Unknown')

In [191]:
dc_clean['ALIVE'] = dc_clean['ALIVE'].fillna('Unknown')

In [192]:
dc_clean['SEX'] = dc_clean['SEX'].fillna('Unknown')

----

In [193]:
#Filtering for json files

### Good Characters

In [194]:
#Characters that from the DC universe who are good, male, alive with a public identity

In [195]:
dc_good_male_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [196]:
dc_good_male_alive_pi = dc_good_male_alive_pi.drop(['ID','ALIGN','ALIVE','SEX','Universe'], axis = 1)

In [197]:
dc_good_male_alive_pi

                              name
3         James Gordon (New Earth)
6           Aquaman (Arthur Curry)
13       Jason Garrick (New Earth)
15   Alfred Pennyworth (New Earth)
18      Raymond Palmer (New Earth)
23      Garfield Logan (New Earth)
24         Guy Gardner (New Earth)
25        Victor Stone (New Earth)
28         James Olsen (New Earth)
29        John Stewart (New Earth)
31       Franklin Rock (New Earth)
37  Michael Jon Carter (New Earth)
40      Harvey Bullock (New Earth)
48    John Constantine (New Earth)
54    John Henry Irons (New Earth)
64         Swamp Thing (New Earth)

In [198]:
#Characters that from the DC universe who are good, male, alive with a secret identity

In [199]:
dc_good_male_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [202]:
dc_good_male_alive_si = dc_good_male_alive_si.drop(['ID','ALIGN','ALIVE','SEX','Universe'], axis = 1)

In [203]:
dc_good_male_alive_si

                            name
0           Batman (Bruce Wayne)
1          Superman (Clark Kent)
2     Green Lantern (Hal Jordan)
4    Richard Grayson (New Earth)
7      Timothy Drake (New Earth)
9            Flash (Barry Allen)
16       Carter Hall (New Earth)
17       Kyle Rayner (New Earth)
26            Kon-El (New Earth)
45    Nathaniel Adam (New Earth)
46    Ronald Raymond (New Earth)
47       Red Tornado (New Earth)
55  Jefferson Pierce (New Earth)
59    William Batson (New Earth)

In [204]:
#Characters that from the DC universe who are good, male, dead with a secret identity

In [284]:
dc_good_male_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [285]:
dc_good_male_dead_si

,name,ID,ALIGN,SEX,ALIVE,Universe
11,Alan Scott (New Earth),Secret Identity,Good Characters,Male Characters,Deceased Characters,DC
39,Kent Nelson (New Earth),Secret Identity,Good Characters,Male Characters,Deceased Characters,DC
43,Wesley Dodds (New Earth),Secret Identity,Good Characters,Male Characters,Deceased Characters,DC
49,Albert Pratt (New Earth),Secret Identity,Good Characters,Male Characters,Deceased Characters,DC
51,Theodore Knight (New Earth),Secret Identity,Good Characters,Male Characters,Deceased Characters,DC

In [286]:
dc_good_male_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [287]:
dc_good_male_dead_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
32,Garth (New Earth),Public Identity,Good Characters,Male Characters,Deceased Characters,DC

----

In [213]:
#Characters that from the DC universe who are good, female, alive with a public identity

In [214]:
dc_good_female_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [215]:
dc_good_female_alive_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
5,Wonder Woman (Diana Prince),Public Identity,Good Characters,Female Characters,Living Characters,DC
8,Dinah Laurel Lance (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
14,Lois Lane (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
34,Zatanna Zatara (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC
38,Cassandra Sandsmark (New Earth),Public Identity,Good Characters,Female Characters,Living Characters,DC

In [216]:
#Characters that from the DC universe who are good, female, alive with a secret identity

In [217]:
dc_good_female_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [218]:
dc_good_female_alive_si

,name,ID,ALIGN,SEX,ALIVE,Universe
10,GenderTest,Secret Identity,Good Characters,Female Characters,Living Characters,DC
12,Barbara Gordon (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
21,Kara Zor-L (Earth-Two),Secret Identity,Good Characters,Female Characters,Living Characters,DC
41,Rachel Roth (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
42,Helena Bertinelli (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
58,Beatriz da Costa (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
63,Jennifer-Lynn Hayden (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
65,Renee Montoya (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC
67,Courtney Whitmore (New Earth),Secret Identity,Good Characters,Female Characters,Living Characters,DC

In [219]:
#Characters that from the DC universe who are good, female, dead with a public identity

In [288]:
dc_good_female_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [289]:
dc_good_female_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [222]:
#Characters that from the DC universe who are good, female, dead with a secret identity

In [290]:
dc_good_female_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Good Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [291]:
dc_good_female_dead_si

,name,ID,ALIGN,SEX,ALIVE,Universe
68,Kendra Saunders (New Earth),Secret Identity,Good Characters,Female Characters,Deceased Characters,DC

----

### Bad Characters

In [225]:
#Characters that from the DC universe who are bad, male, alive with a public identity

In [226]:
dc_bad_male_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [227]:
dc_bad_male_alive_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
19,Alexander Luthor (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters,DC
66,Harvey Dent (New Earth),Public Identity,Bad Characters,Male Characters,Living Characters,DC

In [ ]:
#Characters that from the DC universe who are bad, male, alive with a secret identity

In [228]:
dc_bad_male_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [229]:
dc_bad_male_alive_si

,name,ID,ALIGN,SEX,ALIVE,Universe
30,Joker (New Earth),Secret Identity,Bad Characters,Male Characters,Living Characters,DC

In [230]:
#Characters that from the DC universe who are bad, male, dead with a public identity

In [292]:
dc_bad_male_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [293]:
dc_bad_male_dead_pi

,name,ID,ALIGN,SEX,ALIVE,Universe
44,Uxas (New Earth),Public Identity,Bad Characters,Male Characters,Deceased Characters,DC

In [294]:
dc_bad_male_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Male Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [295]:
dc_bad_male_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

----

In [235]:
#Characters that from the DC universe who are bad, female, alive with a public identity

In [236]:
dc_bad_female_alive_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [237]:
dc_bad_female_alive_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [238]:
#Characters that from the DC universe who are bad, female, alive with a secret identity

In [239]:
dc_bad_female_alive_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Living Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [240]:
dc_bad_female_alive_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [241]:
#Characters that from the DC universe who are bad, female, dead with a public identity

In [296]:
dc_bad_female_dead_pi = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Public Identity')
                                ]

In [297]:
dc_bad_female_dead_pi

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []

In [244]:
#Characters that from the DC universe who are bad, female, dead with a public identity

In [298]:
dc_bad_female_dead_si = dc_clean[(dc_clean['ALIGN'] == 'Bad Characters') & (dc_clean['SEX'] == 'Female Characters')
                                & (dc_clean['ALIVE'] == 'Deceased Characters') & (dc_clean['ID'] == 'Secret Identity')
                                ]

In [299]:
dc_bad_female_dead_si

Empty DataFrame
Columns: [name, ID, ALIGN, SEX, ALIVE, Universe]
Index: []